.textarea{
    min-height: 3.5rem;
    max-height: 26rem;
    text-align: left;
    border-radius: 15px;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    padding: .8rem 1.1rem;
    outline: none;
    border: none;
    background-color: var(--color-grey-5);
    color: var(--color-white);
    resize: none;
    margin-right: 3px;
    width: 100%;
}
.button{
    width: 55px;
    height: 55px;
    padding: 1rem 0;
    background-color: var(--color-grey-4);
    border-radius: 50%;
    font-size: 1.2rem;
    color: var(--color-grey-2);
}
.button:hover{
    background-color: var(--color-secondary);
    color: var(--color-white);
    transition: all .3s ease-in-out;
}
.form{
    display: flex;
    align-items: center;
    position: relative;
}
.label{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}