.nav {
    grid-area: n;
    background-color: #21584b;
    padding: 20px;
    text-align: right;
    border-right: 1px solid #000000;
}
.logo{
    display: inline-block;
    margin-bottom: 50px;
}
.item a{
    color: #fbefdf;
    text-decoration: none;
    line-height: 1.75;
    font-size: 16px;
}
.item a::after{
    padding-left: 8px;
    content: '-';
}

.item a.active {
    color: #9dddfe;
}