.item {
  margin-top: 1rem;
}
.userAvatarWrapper{
  width: 55px;
  height: 55px;
  padding: 1rem 0;
  background-color: var(--color-grey-4);
  border-radius: 50%;
  font-size: 1.2rem;
  color: var(--color-grey-2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.8rem;
}
.likeLogo{
  height: 1.2rem;
  color: var(--color-grey-1);
  margin-right: 6px;
}
.flex{
  display: flex;
}
.names{
  color: var(--color-secondary);
  margin-bottom: 0.3rem;
}
.likeButton{
  display: inline-flex;
  align-items: center;
  padding: 2px 5px;
  background-color: var(--color-grey-4);
  border-radius: 20px;
  margin-top: 5px;
}
.likeButton:hover{
  background-color: var(--color-secondary);
  transition: all .3s ease-in-out;
}