@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    font-family: 'Inconsolata', monospace;
    font-size: 16px;

}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
a{
	color: #fbefdf;
	transition: all 0.3s;
}
/*===============================================================================================================================================*/
body{
    background: #21584b;
    color: #fbefdf;
}
.app-wrapper {
  display: grid;
  grid-template-areas:
  "n h"
  "n c";

	grid-template-rows: 60px 1fr;
	grid-template-columns: 2fr 10fr;
    overflow: hidden;
}
.app-wrapper-content{
        grid-area: c;
        background-color: #21584b;
		min-height: 100vh;
		padding: 30px;
}
.app-wrapper-content{
    img{
    border-radius: 20px;
    }
}
h2{
    font-size: 22px;
    font-weight: 600;
}