.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: auto 100px;
}
.dialogsItems {
    padding: 10px;
}
.dialogsItems div,h2 {
    margin-bottom: 30px;
}
.dialogsItems div:nth-last-child(1) {
    margin-bottom: 0;
}
.flex {
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.send{
    background-color: #3d9dd7;
    height: 44px;
    width: 101px;
    border-radius: 20px;
    color: white;
}
textarea{
    border-radius: 20px;
    text-align: left;
    padding: 15px;
}