.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItems {
    padding: 10px;
}
.messages {
    padding: 10px;
}


a{
    color: #000;
}
a.active{
    background-color: rgba(10, 102, 194, 0.1);
}